[submodule "src/main/avro-schemas"]
	path = src/main/avro-schemas
	url = https://github.com/yeilkk/avro.git
[submodule "src/main/avro"]
	path = src/main/avro
	url = https://github.com/yeilkk/avro.git
